<header>
    <div class="customer-info-head-container">
        <div  *ngFor="let n of customerNavData"  class="icon-container">
            <span>
                <web-circular-icon
                    [background]="currentIndex === n.id ? '#141464' : '#cccfe0'" 
                    (click)="updateCurrentIndex(n.id)" >
                    <i [ngClass]="(currentIndex === n.id) ? 'selected' : ''" class={{n.icon}}></i>
                </web-circular-icon>
            </span>
        </div>
    </div>
  </header>