<header>
    <div class="chat-live-head-container">
      <p class="username" >Derek Bulthuis - Bconnectlivechat.nl</p>
      <div class="left-side">
        <div class="calpsule" >
            <web-circular-icon
            width="32px"
            height="32px"
            background="#141464"
            >
            <p class="username-letter">P</p>
        </web-circular-icon>
        <p class="username-letter full-name">Patrick</p>
        </div>
        <web-circular-icon
        width="30px"
        height="30px"
        >
        <i class="fa-solid fa-link"></i>
        </web-circular-icon>
      </div>
    </div>
  </header>