$theme-color: crimson;
$primary-blue: #141464;
$light-blue: #9b9cc3;
$txt-primary-blue: #04086a;
$dark-blue: #131464;
$sky-blue: #bed2f3;
$primary-gray: #e9e9ed;
$dark-gray: #6f6f70;
$light-gray: light-gray;
$white: #ffff;
$skelton-border: #d9d9d9;
$icon-gray: #cccfe0;
$success-green: #0eb100;

/** Break Points **/
$large-desktop: 1920px;
$small-desktop: 1440px;
$large-tablets: 1024px;
$tablet: 768px;
$small-device: 480px;
$mobile-font-small: 10px;